body {
    background-color: #070724;
    color: white;
    font-family: 'Antonio';
    margin: 0;
    padding: 0;
    
  }
  
  .search-icon {
    color: #bd93f9;
    font-size: 1.5rem;
    margin-left: -30px;
    cursor: pointer;
  }
  
  .container1 {
    display: flex;
    flex-direction: row;
    min-height: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    /* padding: 20px; */
  }
  
  .crypto1 {
    
    border: 10px solid #070724;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: start;
  }
  .crypto2
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: end;
  
  }
  
  .crypto-header1 {
    font-size: 3rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
  }
  
  
  .container-news1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .news {
    margin-top: 25px;
    font-size: 2rem;
  } */
  
  .news1 {
    margin-top: 25px;
    font-size: 2rem;
   
    
  }
  
  
  @media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
  
    .crypto {
        min-width: 400px;
        margin-left: 20px;
    }
  
    .price {
        margin-left: 20px;
    }
  }
  