.navbar {
    
    background-color: #070724;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
    margin: 0;
    font-size: 1.5rem;
    padding-left: 50px;
    font-family: 'Antonio';
    
}

.nav-links {
    list-style-type: none;
    
    
    
    display: flex;
    gap: 20px;
}

.nav-links li {
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    font-family: 'Spartan';
    
    
}

.nav-links li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
    
    
}

.nav-links li a {
    color: white;
   
    text-decoration: none;
}

.nav-links li a:hover {
    text-decoration: none;
    
}
.last
{
    padding-right: 100px;
}
